body {
  background: linear-gradient(
    179.2deg,
    rgb(34, 34, 34) 0%,
    rgb(8, 0, 153) 29.7%,
    rgb(118, 6, 166) 63.4%,
    rgba(233, 0, 64, 0.58) 100.1%
  );
  font-family: sans-serif;
}

h1 {
  text-align: center;
  font-size: 36px;
}

h2 {
  margin: 0 0 5px;
  font-size: 24px;
}

select {
  display: block;
  width: 100%;
  font-size: 16px;
  border-radius: 4px;
  padding: 10px;
}

.container {
  max-width: 600px;
  margin: 60px auto;
  background: white;
  opacity: 0.9;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 7px 29px 0px rgba(100, 100, 111, 0.2);
}

.city {
  display: flex;
  justify-content: space-between;
  margin-top: 20px 0;
  padding: 20px 0;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}

.city:last-child {
  border: none;
}

.date {
  opacity: 0.5;
}

.time {
  font-size: 40px;
  font-weight: bold;
}

.time small {
  font-size: 18px;
  line-height: 36px;
  vertical-align: middle;
}

footer {
  text-align: center;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.8);
}
